
header{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #4F4A4A	;
    font-size: 500%;
    text-align: center;
}
header::selection{
  color:#4F4A4A;
  background-color: #E0B35D;
}
body{

background: 	#E0B25D;

}
h1{
color:#4F4A4A	;
position: sticky; 
top:1px;
background-color: #E0B25D;
text-shadow: 
    0 0 5px #4F4A4A,
    0 0 15px rgba(224,178,93,0.5);


  
 font-style: normal;
    
}
h1::selection{
  color:#4F4A4A;
  background-color: #E0B35D;
}
h2{
    color: #4F4A4A	;
    
   
}
h2::selection{
  color:#4F4A4A;
  background-color: #E0B35D;
}
h3{
    color: #4F4A4A;
}
h3::selection{
color:#4F4A4A;
  background-color: #E0B35D;
}
p{
   color:#4F4A4A   ;
   font-size: larger;

  

}
p::selection{
  color:#4F4A4A;
  background-color: #E0B35D;
}
hr{
  border:solid #4A4156 1px
  
}


.cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.card {
  background: linear-gradient(180deg, 	#E0B25D,	#E0B25D,	#E0B25D,#8a8181);
  border-radius: 12px;
  padding: 1.5rem;
  width: 280px;
  color: #4A4156;
  box-shadow: #E0B25D;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  text-shadow: 
    0 0 5px #4F4A4A,
    0 0 15px rgba(224,178,93,0.5);
  font-family: system-ui, sans-serif; 

}



.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px #4A4156;
  
}


.card p {
  font-size: 1rem;
  line-height: 1.4;
  color: #4A4156;
  
}
.card::selection{
  color:#4F4A4A;
  background-color: #E0B35D;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.btn {
  background-color: #E0B35D;
  border: none;
  border-radius: 5px;
  color:#4F4A4A;
  text-align: center;
  box-shadow: -6px, -6px 10px #E0B25D;
  font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
 
 
  

  
}


.vidinyo{
  background-color: #E0B35D;
  border: none;
  border-radius: 5px;
  color:#4F4A4A;
  text-align: center;
  box-shadow: -6px, -6px 10px #E0B25D;
  font-size: 15px;
  
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

}

.vidinyo:hover {
  background-color: #E0B25D;
  color: #4F4A4A;
  text-align: center;


 

  box-shadow: 0 0 10px #4F4A4A, 0 0 40px #4F4A4A, 0 0 80px #4F4A4A;
  transform: scale(1.10);}

  

  @media (max-width: 768px) {
    .btn {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .vidinyo:hover {
      grid-template-columns: 1fr;
    }
  }


a {
  text-decoration: none !important;
}

.btn:hover {
  background-color: #E0B25D;
  color: #4F4A4A;
  text-align: center;
  font-family: system-ui;

 

  box-shadow: 0 0 10px #4F4A4A, 0 0 40px #4F4A4A, 0 0 80px #4F4A4A;
  transform: scale(1.10);}

  

  @media (max-width: 768px) {
    .btn {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .btn:hover {
      grid-template-columns: 1fr;
    }
  }
  header{
    text-shadow: 
      0 0 5px #8a8181 ,
      0 0 15px rgba(224,178,93,0.5);
  }
  .card2 {
  background: #E0B25D;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 40px auto; 
  width: fit-content;
  color: #E0B25D;
  box-shadow: #4A4156;
  
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  
 
  font-family: system-ui, sans-serif;
  
}
.card2::selection{
  color:#E0B25D;
  background-color: #E0B35D;
}
.card2:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px #4A4156;
  
}




@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.build{
  background-color: #E0B25D;
  color: #4A4156;
  text-align: center;
}
a:link, a:visited {
  color: #4F4A4A;
  background-color: transparent;
 
}

html {
  scroll-behavior: smooth;
}


#jatekmenet {
  padding-top: 20px;
  margin-top: 50px;
}


@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
  }
}


@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr; 
  }
}

 


.gameplay-rakan {

    background: #E0B35D; 
    border-left: 4px solid #E0B35D;
}

.rakan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.rakan-dropdown {
    position: relative;
    border: 1px solid #E0B35D;
    background: #E0B25D;
    border-radius: 0 15px 0 15px; 
    overflow: hidden;
}

.rakan-trigger {
    padding: 15px;
    cursor: pointer;
    font-family: 'normal';
    color: #4F4A4A;
    text-align: center;
    transition: 0.4s;

}

.rakan-dropdown:hover .rakan-trigger {
    background: #E0B35D;
    color: #4F4A4A;
  
}

.rakan-content {
    display: none;
    padding: 15px;
    background: #E0B35D;
    border-top: 1px solid var(--rakan-teal);
    font-family: 'normal';
    color:#4F4A4A;
}

.rakan-dropdown:hover .rakan-content {
    display: block;
    animation: slideDown 0.4s ease-out;
}

.rakan-content a {
    color: #4F4A4A;
    text-decoration: none;
    font-weight: bold;
}

@keyframes slideDown {

    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.rakan-table {
    width: 100%;
    
    table-layout: fixed; 
    border-collapse: collapse;
    margin: 25px 0;
    
   
    border: 3px double #4A4156; 
    background: #E0B25D;
    color: #4A4156;
    
   
    box-shadow: 0 0 15px rgba(89, 44, 18, 0.6);
}

.rakan-table th, .rakan-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid, #4A4156; 
    word-wrap: break-word; 
}



.rakan-table thead {
    background-color: #E0B25D;
    color: #4A4156;
}


.rakan-table th {
    width: 25%;
}




