
header{
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
  color: 	#E0B25D;
  background-color: rgb(47, 47, 83);
  font-size: 500%;
  text-align: center;
}  
header::selection{
color:#E0B25D;
background-color: #2F2F53;
}
body{
  background-color: rgb(47, 47, 83);
}
h1{
color: 	#E0B25D;
position: sticky; 
top:1px;
background-color: #2F2F53;
text-shadow: 
    0 0 5px #5A3DA3,
    0 0 15px rgba(224,178,93,0.5);}

h1::selection{
color:#E0B25D;
background-color: #2F2F53;
}
h2{
color:	#E0B25D
}	
h2::selection{
color:#E0B25D;
background-color: #2F2F53;
}
p{
  color:	#E0B25D;
  font-size: larger;
}
p::selection{
color:#E0B25D;
background-color: #2F2F53;

}
h3{
color:	#E0B25D}
h3::selection{
color:#E0B25D;
background-color: #2F2F53;
}
hr{
border:solid #E0B25D 1px;
}

.cards {
display: flex;
gap: 2rem;
justify-content: center;
flex-wrap: wrap;
margin: 3rem 0;
}

.card {
background: linear-gradient(180deg, #2F2F53, #4F4A4A);
border-radius: 12px;
padding: 1.5rem;
width: 280px;
color: #E0B25D;
box-shadow: #4A4156;
transition: transform 0.4s ease, box-shadow 0.4s ease;
text-shadow: 
    0 0 5px #5A3DA3,
    0 0 15px rgba(224,178,93,0.5);


font-family: system-ui, sans-serif;

}
.card::selection{
color:#E0B25D;
background-color: #2F2F53;
}
.card:hover {
transform: translateY(-10px) scale(1.05);
box-shadow: 0 10px 25px rgba(224, 178, 93, 0.9);

}


.card p {
font-size: 1rem;
line-height: 1.4;
color: #E0B25D;
}

@media (max-width: 768px) {
.cards {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 480px) {
.cards {
  grid-template-columns: 1fr;
}
}

.btn {
background-color: #2F2F53;
border: none;
border-radius: 5px;
text-align: center;
color:#E0B25D;
font-size: 15px;
box-shadow: -6px, -6px 10px #4A4156;
font-family: Arial, Helvetica, sans-serif;

padding-left: 15px;
padding-right: 15px;
cursor: pointer;


}
.btn:hover {
background-color: #2F2F53;
color: #E0B25D;
text-align: center;
font-family: system-ui;
box-shadow: 0 0 10px #E0B25D, 0 0 40px #E0B25D, 0 0 80px #E0B25D;
transform: scale(1.10);
}

@media (max-width: 768px) {
  .btn {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .btn:hover {
    grid-template-columns: 1fr;
  }

  
}
header{
  text-shadow: 
    0 0 5px #5A3DA3,
    0 0 15px rgba(224,178,93,0.5);
}


.card2 {
  background: #2F2F53;
  border-radius: 12px;
  padding: 1.5rem;
  margin: 40px auto; 
  width: fit-content;
  color: #E0B25D;
  box-shadow: #4A4156;
  
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  
 
  font-family: system-ui, sans-serif;
  
}
.card2::selection{
  color:#E0B25D;
  background-color: #2F2F53;
}
.card2:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px rgba(224, 178, 93, 0.9);
  
}



@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.build{
  background-color: #2F2F53;
  color: #E0B25D;
  text-align: center;
}
a:link, a:visited {
  color: #E0B25D;
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}


#jatekmenet {
  padding-top: 20px;
  margin-top: 50px;
}
a {
  text-decoration: none !important;
}



@media (max-width: 768px) {
  .cards {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
  }
}


@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr; 
  }
}





.gameplay-interactive {
    
    background: #2F2F53;
    border-left: 4px solid #2F2F53;
}

.strategy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.strat-dropdown {
    position: relative;
    border: 1px solid var #E0B25D;
    background: #2F2F53;
}

.strat-trigger {
    padding: 15px;
    cursor: pointer;
    font-family:normal;
    color: #E0B25D;
    text-align: center;
    transition: 0.3s;
}

.strat-dropdown:hover .strat-trigger {
    background: #2F2F53;
    color:#E0B25D ;
}

.strat-content {
    display: none;
    padding: 15px;
    background: #2F2F53;
    border-top: 1px solid #E0B25D;
    font-size: 14px;
    line-height: 1.6;
}

.strat-dropdown:hover .strat-content {
    display: block;
    animation: slideDown 0.4s ease-out;
}

.strat-content a {
    color: #E0B25D;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}


.vidinyo{
  background-color: #2F2F53;
  border: none;
  border-radius: 5px;
  color:#4F4A4A;
  text-align: center;
  box-shadow: -6px, -6px 10px #2F2F53;
  font-size: 15px;
  
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

}

.vidinyo:hover {
  background-color: #2F2F53;
  color: #E0B25D;
  text-align: center;


 

  box-shadow: 0 0 10px #4F4A4A, 0 0 40px #4F4A4A, 0 0 80px #4F4A4A;
  transform: scale(1.10);}

  

  @media (max-width: 768px) {
    .btn {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .vidinyo:hover {
      grid-template-columns: 1fr;
    }
  }

.xayah-table {
    width: 100%;
    
    table-layout: fixed; 
    border-collapse: collapse;
    margin: 25px 0;
    
   
    border: 3px double #E0B25D; 
    background: #2F2F53;
    color: #E0B25D;
    
    box-shadow: 0 0 15px rgba(74, 18, 89, 0.6);
}


.xayah-table th, .xayah-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(196, 161, 90, 0.3); 
    word-wrap: break-word; 
}

.xayah-table thead {
    background-color: #2F2F53;
    color: #E0B25D;
}


.xayah-table th {
    width: 25%;
}